@charset "utf-8";

#container { height: auto; border-top: 3px solid #777; margin-bottom: 20px;}   
/* 메뉴 */
#container #menu { margin-top: 10px; height: 70px;}
#container #menu .content-m { display: flex; align-items: center; height: 100%; width: 50%; margin: 0 auto; border-bottom: 1px solid#777;}  
#container #menu .content-m .menu-lists { display: flex; flex: 1; }
#container #menu .content-m .menu-lists .menu-list__list { width: 100%; text-align: center; font-size: 20px; }

/* 테이블 */
#container .content .list-table { flex-shrink: 0; width: 80%; margin: 30px auto; }
#container .content th, #container .content td { text-align: center; vertical-align: middle; padding: 14px 10px; border-top: 1px #eaeaea solid; }
#container .content td .btn_delete{ background-color: rgb(255, 102, 102); color: white; border: none; width: 50px; height: 30px; }

/* 검색 */
#container .aside { display: flex; height: 30px; }   
#container .content-s { display: flex; flex: 1; justify-content: center; }
#container .content-s select{ padding: 0 5px; margin-right: 2px; }
#container .content-s .btn__search { width: 70px; margin-left: 2px; }
#container .content-s select:hover,
#container .content-s .btn__search:hover{cursor: pointer;}