@charset 'UTF-8';

/* * {
    outline: 1px solid red;
} */

body,
ul,
li,
fieldset,
legend,
h2,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

address {
    font-style: normal;
}

fieldset {
    border: none;
}

legend {
    display: none;
}

input[type=radio],
input[type=checkbox] {
    margin: 0;
}

button {
    border: none;
}

:root {
    /* color */
    --font-color-top: #FFF;
    --font-color-gnb: #FFF;
    --font-color-footer: #fff;

    --bg-color-top: #111;
    --bg-color-gnb: #222;
    --bg-color-footer: #ccc;

    --btn-color: #fff;
    --btn-color-bg: #01a501;

    /* spacing */

    /* font-size */
    /* 디폴트가 16 */
    font-size: 16px;

    --font-size-small: 0.8rem;
    --font-size-middle: 1.2rem;
    --font-size-gib: 1.5rem;
}

/* 공통 */
.content {
    width: 600px;
    margin: 0 auto;
    height: 100%;
}

/* uppermost */
#uppermost {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--bg-color-top);
}

#uppermost .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--font-size-small);
    color: var(--font-color-top);
    /* font-weight: bold; */
}

#uppermost .content .interval {
    padding: 0 5px;
}

/* header */
#header {
    height: 150px;
}

#header .content {
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/16/16/16/sunset-3325080_960_720.jpg');
    background-size: 600px 150px;
}

/*gnb  */
#gnb {
    height: 50px;
    color: var(--font-color-gnb);
}

#gnb .content {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--bg-color-top);
}

#gnb .gnb-menu {
    display: flex;
    flex: 1;
    /* height: 100%; */
}

#gnb .gnb-menu .gnb-menu__item {
    /* = flex-grow:1;flex-shrink:1;flex-basis:0*/
    flex: 1;
    /* height: 100%;
    align-items: center; */
    position: relative;
}
#gnb .gnb-menu .gnb-menu__item:hover::before{
    content: attr(title);
    display: inline-block;
    position: absolute;
    top: 0px;
    left:0px;
    right: 0;
    margin: 0 auto;
    background-color: blue;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 0.8em;
    text-align: center;
}

#gnb .gnb-menu .gnb-menu__item:hover:after {
    content: ' ';
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left:0px;
    right: 0;
    margin: 0 auto;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color:  transparent transparent white transparent;
    transition: all 4s;

}



#gnb .gnb-menu .gnb-menu__item .title {
    display: inline-block;
    width: 100%;
    text-align: center;

    /* height: 100%; */
    /* vertical-align: middle; */
    /* justify-content: center;
    align-items: center; */
}

#gnb .gnb-menu .gnb-menu__item .title:hover {
    text-decoration: underline;
}








/* main */
#main .content {
    display: flex;
}

#main .content .aside {
    flex: 2;
    background-color: lightskyblue;
}

#main .content .section {
    display: flex;
    justify-content: center;
    flex: 8;
    background-color: lightcyan;
}

#main .content .section .signup-wrap {
    width: 250px;
    margin: 30px 0;
 
}



#main .content .section .signup-wrap .title {
    text-align: center;
    letter-spacing: 0.5em;
}

#main .content .section .signup-wrap .signup{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
#main .content .section .signup-wrap .signup li {
    margin: 0.5px 0;
}


/*  footer*/
#footer {
    display: flex;
    align-items: center;
    height: 70px;

}

#footer .content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-footer);
    color: var(--font-color-footer);
}

#footer .content address {
    font-size: var(--font-size-small);
    /* font-weight: bold; */
}


/* button */
.btn {
    background-color: var(--btn-color-bg);
    color: var(--btn-color);
}

.btn__join {
    padding: 5px;
    margin-top: 5px;
}

.width--100 {
    width: 100%;
    box-sizing: border-box;
}

.font-weight-700 {
    font-weight: 700px;
}