@charset "utf-8";

* {
    outline: 1px solid red;
    margin: 0px;
    padding: 0px;
    
}

main {
    width:100%;
    height:100vh;
    background-color: #ddd;
}

section {
    border: 10px solid black;
    display: inline-flex;
    flex-direction: column;
}

section article {
    width:100px;
    height:100px;
    text-align:center;
    border: 1px solid blue;
}
